* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.temp-header {
  width: 100vw;
}

.temp-header img {
  width: 100%;

}

/* * { border: 1px solid magenta; } */

.generic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  min-height: 100vh;
  background-color: #a3a3a3;
}

.container {
  background-color: #fff;

  padding-top: 1rem;
  padding-bottom: 1rem;

}

.container * {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* Campo de Busca */

.query-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.query-component {
  width: 95%;
  display: flex;
  padding: 0.2rem;

  border: 0.1rem solid #71717a;
  background-color: #f9fafb;
}

.query-input, .query-button {
  /* Input and Button CSS reset */

  border: none;
  background-color: transparent;
}

.query-input, .query-input::placeholder {
  font-size: 1.2rem;
  color: #5B5854;
}

.query-input:focus {
  outline: 0.1rem solid #a1a1aa;
}

.query-input {
  flex: 1;
}

.query-button {
  margin-left: 0.2rem;
  padding-left: 0.2rem;
  cursor: pointer;
  border-left: 0.1rem solid #71717a;
}

.query-button img {
  width: 1.2rem;
  height: 1.2rem;

  filter: invert(45%) sepia(5%) saturate(517%) hue-rotate(202deg) brightness(96%) contrast(85%);
}

.query-fade {
  width: 100%;
  height: 1rem;

  background: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0.1) 80%);
}

@media (min-width: 767px) {
  .query-component {
    width: 90%;
  }

  .query-input, .query-input::placeholder {
    font-size: 1rem;
  }
}

/* Resultado de Pesquisa */

.result-container {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-card {
  max-width: 95%;

  padding: 0.2rem;
  border-bottom: 1px solid rgb(23, 23, 23, 0.75);

  /* background-color: rgb(151, 117, 87, 0.1); */
  background-color: transparent;
  color: #171717;
  font-size: 0.8rem;
}

.result-card:last-child {
  border-bottom: none;
}

.result-content {
  padding: 0.4rem;

  background-color: #f4f4f5;
  box-shadow: 0 0 0.2rem rgba(91, 88, 84, 0.3);
}

.result-title {
  font-size: 1.2em;
  color: #5B5854;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;

  text-transform: uppercase;
}

.result-title div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.course {
  text-align: center;
  color: rgba(91, 88, 84, 0.9);

  font-weight: bold;
  letter-spacing: 0.05rem;
  cursor: pointer;

  transition-duration: 0.2s;
}

.course:hover {
  color: inherit
}

.course-class {
  color: #977557;
  font-weight: lighter;
  font-size: 0.9em;
}

.time {
  font-size: 0.7em;
  letter-spacing: 0.02rem;
}

.description {
  padding: 0.3rem;

  color: rgb(23, 23, 23, 0.75);
  
  text-align: center;
  text-overflow: ellipsis;
  font-style: italic;
}

@media (min-width: 767px) {
  .result-card {
    width: 90%;
  }

  .result-title {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .result-title div {
    justify-content: start;
  }

  .course {
    text-align: left;
  }

  .description {
    text-align: justify;
  }
}

/* Paginação */

.pagination-container {
  font-weight: bold;
  font-size: 1rem;
  color: #5B5854;

  width: 100%;

  display: flex;
  justify-content: center;

  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.pages {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  
  list-style-type: none;
}

.pages li {
  text-align: center;

  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;

  background-color: #f4f4f5;
  
  border: 0.1rem solid rgb(151, 117, 87, 0.05);
  box-shadow: 0 0 0.1rem;

  cursor: pointer;
  transition-duration: 0.2s;
}

.pages li:hover {
  color: rgb(244, 244, 245, 0.7);
  background-color: rgba(151, 117, 87, 0.7);
  border: none;
}

li.selected-page, li.highlighted-page {
  background-color: #977557;
  color: #f4f4f5;
}

@media (min-width: 767px) {
  .pagination-container {
    padding-top: 3rem;

    font-size: 1.6rem;
  }

  .pages li {
    width: 2rem;
    height: 2rem;
  }
}